h1, h2, h3, p, li {font-family: Fira Sans, Myriad,Arial;}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
code {background-color: white; }
pre code  {font-family:Consolas,monaco,monospace; font-size: 11px; padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; line-height: 0.5 em;}